astroid
atomicwrites
backcall
beautifulsoup4
black
brotlipy
bs4
certifi
colorama
cycler
decorator
entrypoint
Flask
future
gunicorn
ipykernel
ipython
ipython-genutils
isort
itsdangerous
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
lazy-object-proxy
lxml
matplotlib
mccabe
mistune
mypy-extensions
nltk
numpy
pandas
parso
pathspec
pickleshare
Pillow
prompt-toolkit
Pygments
pylint
python-dateutil
pywinpty
PyYAML
pyzmq
QDarkStyle
QtPy
rope
scikit-learn
scipy
sip
six
sklearn
soupsieve
terminado
threadpoolctl
tmdb
tmdbv3api
toml
tqdm
traitlets
wcwidth
webencodings
Werkzeug
wincertstore
wrapt
